*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(236, 242, 244);
}

header{
    background-color: lightblue;
    height: 100px;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

p{
    padding: 20px;
}

div{
    height:100px;
    background-color: rgb(112, 135, 205);
    border-radius: 100px;
}

.pillOne, .pillTwo, .pillThree{
    
}